.kurs{
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    border-radius: 12px;
    padding: 20px;
    gap: 20px;
    
    .kurs-left{
        width: 50px;

        h2{
            background: #1588B9;
            text-align: center;
            color: white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding-top: 7px;
        }
    }

    .kurs-right{
        width: 100%;
        max-width: 450px;

        h3{
            margin-top: 0px;
            margin-bottom: 10px;
        }

        p{
            font-size: 14px;
            line-height: 20px;
        }

        h5{
            margin-top: 20px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.486);
            font-size: 18px;

            span{
                cursor: pointer;
                color: blue;

                &:hover{
                    color: #0579fe;
                    transition: all 0.1s linear;
                }
            }
        }
    }
}


.kurs-right-modal{
    h5{
        margin-top: 20px;
        margin-bottom: 5px;
    }

    ul{
        padding-left: 30px;
        margin-bottom: 20px;
        li{
            list-style-type: disc;
        }
    }
}

.kurs-modal{
    width: 100% !important;
    max-width: 800px; 
}